<mat-toolbar color='primary'>
  <span><a routerLink="/">Messages</a></span>
  <!--putting in search bar component from searchbar html-->
<span class="space"></span>
  <ul>
    <li *ngIf="userIsAuthenticated"> <!--header tab that uses angular routing to route to create post page-->
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Post</a>
    </li>
    <li *ngIf="userIsAuthenticated"> <!--header tab for going to statistical page-->
      <a mat-button routerLink="/stats" routerLinkActive="mat-accent">Statistics</a>
    </li>
    <li *ngIf="!userIsAuthenticated"> <!--header tab that uses angular routing to route to login page-->
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated"> <!--header tab that uses angular routing to route to sign up page-->
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated"> <!--button to Logout after signing in-->
      <button mat-button (click)="onLogOut()">LogOut </button>
    </li>
  </ul>
</mat-toolbar>
