<!--angular form for login similar to post create component-->

<mat-card>
    <!--ngif for spinner wheel based onn is loading value and use ! if not true-->
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <!--ngmodel allows access to the name. here we access by using ngif to see if it is valid-->
    <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field> <!--required email is built in angular to see if it is a valid email-->
      <input matInput name="email" ngModel type='email' placeholder="E-Mail" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Please enter valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <!--input tag for password with angular material style-->
      <input type="password" name="password" ngModel matInput placeholder="Password" #passwordInput="ngModel" required password>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
    </mat-form-field>
    <button mat-raised-button color='accent' type='submit' *ngIf="!isLoading">Signup</button>
  </form>
  </mat-card>
